

.user-header {
    border-bottom:1px solid rgb(173,203,227 );
    background: rgba(0, 0, 0, .6);
    display: block;
    position: fixed;
    margin-bottom: 400px;
    padding-right: 0;
    width: 100%;
}
.user-logo-container {
    
    
    
    display: block;
    height: 80px;
    width: 100%;
    padding-bottom: 40px;
    
}
.user-logo-title {
    color: rgb(173,203,227 );
    font-family: 'Vladimir Script';
    position: center;
    font-weight: 100;
    font-size: 110px;
    
    margin-top: 40px;
    padding-right: 60px;
    text-align: center;
    height: 75px;
}
.user-nav-container {
    display: block;
    height: 80px;
    padding: 0;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    
}
.user-nav-ul {
    display: block;
    position: center;
    margin-top: 0;
    padding-left: 60px;
    
}
.user-nav-item {
    color: rgb(173,203,227 );
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    font-weight: 100;
    display: inline;
    text-align: center;
    padding-left: 30px;

}
.dropdown {
    display: inline;
    
    padding-right: 32px;
    width: 90px;
}
.dropbtn {
    color:rgb(173,203,227 );
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
    font-size: 30px;
    font-weight: 100;
    display: inline;
    width: 70px;
    height: 30px;
}
.user-dropdown-menu {
}
.user-form-control {
    
}
.user-nav-item{

}
.btn-login {

}
