



.card-registration .select-input.form-control[readonly]:not([disabled]) {
    color: antiquewhite;
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
.card {
    border: 1px solid antiquewhite;
    color:antiquewhite;

    background: rgba(0,0,5, .6) padding-box;
    border-radius: 15px;
    height: 900px;
}
.delete-button {
    display: inline-block;
    text-align: center, center;
    height: 35px;
    padding: 0px 7px;
    border: 3px solid gray;
}
.table table-striped {
    padding-top: 200px;
    color: antiquewhite;
    background: rgb(249,230,206);
}
.container-form {

    position: center;
    padding: 40px 40px;
    width: 90%;
    
}
tr {
    color: antiquewhite;
}
th {
    color: antiquewhite;
}
.col1 {
    color: antiquewhite;
    
}
.card-body {
    padding: 100px; 
    height: 900px;
}
.form_element {
    display: block;
    height: 100%;
}
.row {
    color: antiquewhite;
    display: inline-block;
    position: center;
    width: 100%;
}
.col {
    color: antiquewhite;
    position: center ;
    padding: 20px 45px;
    margin-bottom: 50px;
    height: 20px;
    display: inline-block;
    width: 50%;
}
.file {
    border: 1px ridge antiquewhite;
    background: rgba(0,0,5, .6);
    margin: 0;
    border-radius: 5px;
    height: 33px;
    width: 290px;
}
.form-control {
    color: antiquewhite;
    border: 1px ridge antiquewhite;
    background: rgba(0,0,5, .6);
}
